/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Information regarding a footer at the bottom of the screen was found here

http://stackoverflow.com/questions/5516910/how-can-i-force-my-footer-to-stick-to-the-bottom-of-any-page-in-css

While it didn't work for some people, it fits my needs here just fine */
/*
    SASS Requirements
        Variables are used for both color and basic dimensions
        Nesting is used widely throughout the project to make the css easier to read here. 
            Particularly in header and foot
        Partials *****
        Mixins are used for the formatting on the links up top
        Inheritance ******
        Operators are used to format things relative to one another. 
            See the footer and the column-width calculations
*/
/* line 17, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 16, 2014 */
@font-face {
  font-family: 'blackjackregular';
  src: url("black_jack-webfont.eot");
  src: url("black_jack-webfont.eot?#iefix") format("embedded-opentype"), url("black_jack-webfont.woff") format("woff"), url("black_jack-webfont.ttf") format("truetype"), url("black_jack-webfont.svg#blackjackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 33, ../sass/screen.scss */
.customText, header h1, body .left h1 {
  font-family: blackjackregular;
  font-size: 30px;
}

/* line 49, ../sass/screen.scss */
header {
  background: #e0e0e0;
  padding: 10px;
}
/* line 51, ../sass/screen.scss */
header h1 {
  color: #F00000;
}

/* line 66, ../sass/screen.scss */
nav {
  width: 100%;
  background: #e0e0e0;
  float: right;
  padding: 5px;
}
/* line 77, ../sass/screen.scss */
nav ul {
  float: right;
}
/* line 82, ../sass/screen.scss */
nav li {
  display: inline-block;
}
/* line 87, ../sass/screen.scss */
nav a {
  font-size: 18px;
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #F00000;
  background: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

/* line 111, ../sass/screen.scss */
body .right {
  width: 28%;
  float: right;
  padding: 10px;
}
/* line 118, ../sass/screen.scss */
body .right #login {
  height: 60px;
  border-style: solid;
  border-width: 1px;
}
/* line 123, ../sass/screen.scss */
body .right #login input {
  margin: 5px;
}
/* line 127, ../sass/screen.scss */
body .right #login #username {
  width: 50%;
  float: left;
}
/* line 132, ../sass/screen.scss */
body .right #login #password {
  width: 40%;
}
/* line 136, ../sass/screen.scss */
body .right #login #submit {
  float: right;
}
/* line 141, ../sass/screen.scss */
body .right #catFacts {
  width: 80%;
  margin: 10px;
  align-content: center;
  text-align: center;
  background: #e0e0e0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
}
/* line 157, ../sass/screen.scss */
body .left {
  width: 68%;
  float: left;
  padding: 10px;
}
/* line 159, ../sass/screen.scss */
body .left h1 {
  color: #000000;
}

/* line 171, ../sass/screen.scss */
footer {
  background: #e0e0e0;
  width: 100%;
  height: 24px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
/* line 174, ../sass/screen.scss */
footer p {
  align-content: center;
  vertical-align: center;
  text-align: center;
  float: auto;
  line-height: 24px;
}
