<h1>Listing adoption_agreements</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @adoption_agreements.each do |adoption_agreement| %>
      <tr>
        <td><%= link_to 'Show', adoption_agreement %></td>
        <td><%= link_to 'Edit', edit_adoption_agreement_path(adoption_agreement) %></td>
        <td><%= link_to 'Destroy', adoption_agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adoption agreement', new_adoption_agreement_path %>
